* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Sriracha', cursive;
}
a {
    text-decoration: none;
    color: white
}
a:hover {
    text-decoration: none;
    color: white
}
.header__top {
    height: 50px;
    
    /* display */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* Menu con */
.header__list-menu li:hover .sub-menu {
    display: block;
}
.sub-menu {
    display: none;
    position: absolute;

    margin-left: -35px;
    margin-top: 50px;

    font-size: 15px;
    
    width: 175px;
    height: auto;
    padding: 5px;
}

.sub-menu::before {
    content: url('../images/bder-top-submenu.png');
    position: absolute;
    margin-left: -25px;
    margin-top: -50px;
}
.sub-menu::after {
    content: url('../images/bder-bottom-submenu.png');
    position: absolute;
    margin-left: -25px;
    margin-top: -2px;
}
.sub-menu li {
    text-align: center;
    background-color: white;
    
    border: 10px solid gold;
    width: 175;
    border-top: none;
    border-bottom: none;
    margin-left: 2px;
}
.sub-menu li a {
    padding: 5px;
    color: black;
}
.sub-menu .sub-item:hover a {
    border-radius: 10px;
    color: white;
    background-color: #790b0b;
}
/* logo web */
.header__top .header__logo {
    width: 50px;
}
/* End */
.header__top .header__search-box {
    background-color: white;
    padding-right: 10px;
    border-radius: 10px;
}
/* input, select, button */
.header__top .header__search-box input, select {
    outline: none;
    border: none;
}
.header__top .header__search-box select {
    border-radius: 10px;
    border-right: 1px solid #790b0b
}
.header__top .header__icon-search {
    border: none;
    padding: 0px;
    background-color: white;
}
.header__top .header__icon-search img {
    width: 15px
}
/* End */

/* Header-body */
.header-body {
    background: url('../images/bg-menu.png');
    background-repeat: repeat-x;

    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 60px;
    color: white;
    font-size: 30px;
    font-weight: bold;
}
.header-body img {
    align-self: flex-start;
    margin-top: 5px;
}
.header-body .header__list-menu {
    width: 100%;
    padding: 0px 30px 0px 30px;

    display: flex;
    justify-content: space-between;
    list-style-type: none;
}
.header-body .header__list-menu li {
    padding-top: 9.5px
}

/* Login /  create */
/* .header-body .header__list-menu li:last-child .sub-menu{
    width: 300px;
    
    padding-top: 60px;
} */


/* sub-menu__child */
.sub-menu .list__menu li:first-child::after {
    content: '';
    padding: 50px 100px 0px 0px;
    margin-left: 0px;
    margin-top: 0px;
    position: absolute;
}
.sub-menu .list__menu .sub-item:hover .sub-menu__child{
    display: block;
}
.sub-menu .list__menu .sub-menu__child {
    display: none;

    position: absolute;
    margin-left: 185px;
    margin-top: 20px;

    width: 160px;
    height: auto;
    z-index: 9;
}


.sub-menu .list__menu .sub-menu__child .sub-menu__child-item{
    background-color: white;
    padding: 5px;
    width: 100%;

    list-style-type: none;
}

.sub-menu .list__menu .sub-menu__child .sub-menu__child-item:hover{
}

.sub-menu__child::before {
    content: url('../images/bder-top-submenu.png');
    position: absolute;
    margin-left: -105px;
    margin-top: -50px;
}
.sub-menu__child::after {
    content: url('../images/bder-bottom-submenu.png');
    position: absolute;
    margin-left: -105px;
    margin-top: -2px;
}

 .sub-menu .list__menu .sub-menu__child .sub-menu__child-item a {
     background-color: white;
     color: black
 }
  .sub-menu .list__menu .sub-menu__child .sub-menu__child-item:hover a {
    background-color: #790b0b;
    color: white;
  }
  
/* End */
.header-body .header__list-menu .sub-menu__child-item:last-child .sub-menu .login-create__box{
    text-align: center;
    background-color: white;
    
    border: 10px solid gold;
    width: 175;
    border-top: none;
    border-bottom: none;
    margin-left: 2px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding: 0px 5px;
}
.header-body .header__list-menu .sub-menu__child-item:last-child .sub-menu .login-create__box img {
    margin: 10px auto;
}
.header-body .header__list-menu .sub-menu__child-item:last-child .sub-menu .login-create__box input {
    width: 90%
}
.header-body .header__list-menu .sub-menu__child-item:last-child .sub-menu .login-create__box input:required {
    margin: 10px 0px;
}
.login-create__box .button-login {
    width: 100%;
    color: red;

    display: grid;
    grid-template-columns: 65% 35%;
    align-items: center;
}
.login-create__box a{
    font-size: 13px;
    color: red
}
.login-create__box a:hover{
    text-decoration: underline;
}
.login-create__box button {
    background-color: red;
    border: none;
    border-radius: 10px;

    color: white;
    font-size: 16px;
}
.login-create__box button:hover {
    background-color: rgb(228, 68, 68);
}